@import url("https://fonts.googleapis.com/css?family=Karla:400|Spectral:400");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* dark shades of primary color*/
  --clr-primary-900: #063251;
  --clr-primary-800: #104e7a;
  --clr-primary-700: #1a6aa2;
  --clr-primary-600: #2d87c8;
  /* primary/main color */
  --clr-primary-500: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-400: #6ebef7;
  --clr-primary-300: #8bcbf9;
  --clr-primary-200: #a5d5f8;
  --clr-primary-100: #c5e5fc;
  --clr-primary-50: rgb(235, 247, 255);
  /* darkest grey - used for headings */
  --clr-grey-900: hsl(209, 61%, 16%);
  --clr-grey-900: hsl(211, 39%, 23%);
  --clr-grey-700: hsl(209, 34%, 30%);
  --clr-grey-600: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-500: hsl(210, 22%, 49%);
  --clr-grey-400: hsl(209, 23%, 60%);
  --clr-grey-300: hsl(211, 27%, 70%);
  --clr-grey-200: hsl(210, 31%, 80%);
  --clr-grey-100: hsl(212, 33%, 89%);
  --clr-grey-50: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

  --bodyFonts: '"Open Sans", sans-serif';
  --headingFonts: "" Roboto ", sans-serif";
  --textcolor: var(--clr-grey-900);
}

html {
  font-size: 100%;
}

body {
  background: var(--clr-grey-50);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--headingFonts);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  max-width: 40rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-500);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-primary-500);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-500);
  background: var(--clr-primary-900);
  border-color: var(--clr-primary-900);
}

.btn-block {
  width: 100%;
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
/* @media screen and (min-width: 576px) {
  .section-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 4rem;
  }
} */
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* buttons */

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--radius);
}

.alert-danger {
  color: var(--clr-red-dark);
  background: var(--clr-red-light);
}

.alert-success {
  color: var(--clr-green-dark);
  background: var(--clr-green-light);
}

/* form */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: 0.7em;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
  background: var(--clr-grey-50);
  border: 1px solid var(--clr-grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--clr-grey-400);
}

.form-alert {
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

/* loading */
.loading {
  width: 6rem;
  height: 6rem;
  border: 6px solid var(--clr-grey-400);
  border-radius: 50%;
  border-top-color: var(--clr-primary-600);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

.hide-loading {
  display: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* section title */
.title {
  text-align: center;
}

.title-underline {
  background: var(--clr-primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
}
